*:Zone.Identifier
.idea/
out/
nauty*/
nauty*.tar.gz
plantri*/
*.iml
.bashrc.local
.vscode/
.idea/
*.class
code/*/out/
venv/
images/
outputs/
verslagen/~$*.docx
code/*/graphs/*.class
code/*/build/
code/*/chunks/
*.gcno
*.gcda
*.gcov
code/*/graphs/build
*.out
analysis.txt