*:Zone.Identifier
.idea/
out/
nauty*/
nauty*.tar.gz
*.iml
.bashrc.local
.vscode/
code/*/.idea/
code/*/*.class
code/*/out/
code/*/venv/
code/*/images/
code/*/outputs/
code/*/filters/
verslagen/~$*.docx
code/*/graphs/*.class
code/*/build/