Code/*/.idea/
plantri55/*:Zone.Identifier
*:Zone.Identifier
Code/*/*.class
Code/*/out/
.idea/
out/
Code/*/venv/
Code/*/images/
Code/*/outputs/
nauty*/
nauty*.tar.gz
*.iml
Verslagen/~$*.docx
.bashrc.local
.vscode/
code/*/.idea/
code/*/*.class
code/*/out/
code/*/venv/
code/*/images/
code/*/outputs/
verslagen/~$*.docx
